---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=app_id&exclude=minutely&lat=37.54129&lon=-77.434769&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5413,"lon":-77.4348,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655134960,"sunrise":1655113683,"sunset":1655166704,"temp":88.93,"feels_like":100.44,"pressure":1016,"humidity":66,"dew_point":76.1,"uvi":8.86,"clouds":75,"visibility":10000,"wind_speed":5.75,"wind_deg":200,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1655132400,"temp":89.06,"feels_like":98.55,"pressure":1016,"humidity":62,"dew_point":74.34,"uvi":6.7,"clouds":61,"visibility":10000,"wind_speed":5.37,"wind_deg":247,"wind_gust":8.08,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1655136000,"temp":88.93,"feels_like":100.44,"pressure":1016,"humidity":66,"dew_point":76.1,"uvi":8.86,"clouds":75,"visibility":10000,"wind_speed":5.06,"wind_deg":250,"wind_gust":7.67,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1655139600,"temp":90.14,"feels_like":100,"pressure":1015,"humidity":60,"dew_point":74.37,"uvi":9.69,"clouds":64,"visibility":10000,"wind_speed":4.47,"wind_deg":248,"wind_gust":8.12,"weather":[{"id":803,"[...]
