---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=key&location=richmond,va
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 22:11:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"richmond,va"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Richmond","adminArea5Type":"City","adminArea4":"Richmond
        City","adminArea4Type":"County","adminArea3":"VA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039420","unknownInput":"","type":"s","latLng":{"lat":37.540759,"lng":-77.433932},"displayLatLng":{"lat":37.540759,"lng":-77.433932},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=37.540759,-77.433932|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-356331509"}]}]}'
  recorded_at: Mon, 13 Jun 2022 22:11:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=app_id&exclude=minutely&lat=37.540759&lon=-77.433932&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5408,"lon":-77.4339,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655158315,"sunrise":1655113683,"sunset":1655166704,"temp":91.85,"feels_like":102.33,"pressure":1013,"humidity":57,"dew_point":74.44,"uvi":1.55,"clouds":75,"visibility":10000,"wind_speed":9.22,"wind_deg":280,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1655157600,"temp":91.85,"feels_like":102.33,"pressure":1013,"humidity":57,"dew_point":74.44,"uvi":1.55,"clouds":75,"visibility":10000,"wind_speed":1.74,"wind_deg":222,"wind_gust":4.54,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1655161200,"temp":91.2,"feels_like":100.2,"pressure":1013,"humidity":56,"dew_point":73.31,"uvi":0.51,"clouds":79,"visibility":10000,"wind_speed":3.4,"wind_deg":155,"wind_gust":4.65,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1655164800,"temp":88.63,"feels_like":96.51,"pressure":1013,"humidity":60,"dew_point":72.95,"uvi":0,"clouds":77,"visibility":10000,"wind_speed":2.89,"wind_deg":123,"wind_gust":3.74,"weather":[{"id":803,"mai[...]
