---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=app_id&exclude=minutely&lat=37.54129&lon=-77.434769&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5413,"lon":-77.4348,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655321359,"sunrise":1655286484,"sunset":1655339550,"temp":89.06,"feels_like":94.15,"pressure":1019,"humidity":53,"dew_point":69.71,"uvi":7.95,"clouds":40,"visibility":10000,"wind_speed":4.61,"wind_deg":0,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1655319600,"temp":89.06,"feels_like":94.15,"pressure":1019,"humidity":53,"dew_point":69.71,"uvi":7.95,"clouds":40,"visibility":10000,"wind_speed":0.94,"wind_deg":111,"wind_gust":2.26,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1655323200,"temp":89.62,"feels_like":93.88,"pressure":1019,"humidity":50,"dew_point":68.52,"uvi":5.71,"clouds":33,"visibility":10000,"wind_speed":1.07,"wind_deg":115,"wind_gust":2.15,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1655326800,"temp":89.82,"feels_like":92.98,"pressure":1018,"humidity":47,"dew_point":66.9,"uvi":3.41,"clouds":25,"visibility":10000,"wind_speed":3.15,"wind_deg":135,"wind_gust":2.8,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1655330400,"temp":89.67,"feels_like":91.96,"pressure":1018,"humidity":45,"dew_point":65.52,"uvi":1.62,"clouds":17,"visibility":10000,"wind_speed":2.13,"wind_deg":125,"wind_gust":1.99,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1655334000,"temp":87.31,"feels_like":90.97,"pressure":1017,"humidity":53,"dew_point":68.09,"uvi":0.54,"clouds":11,"visibility":10000,"wind_speed":3.94,"wind_deg":122,"wind_gust":6.76,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.12},{"dt":1655337600,"temp":79.97,"feels_like":79.97,"pressure":1017,"humidity":63,"dew_point":65.93,"uvi":0.09,"clouds":5,"visibility":10000,"wind_speed":6.96,"wind_deg":125,"wind_gust":15.68,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.26,"rain":{"1h":0.33}},{"dt":1655341200,"temp":73.89,"feels_like":74.32,"pressure":1018,"humidity":71,"dew_point":63.61,"uvi":0,"clouds":28,"visibility":10000,"wind_speed":8.28,"wind_deg":125,"wind_gust":23.64,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.71,"rain":{"1h":0.18}},{"dt":1655344800,"temp":70.54,"feels_like":70.92,"pressure":1019,"humidity":77,"dew_point":62.49,"uvi":0,"clouds":30,"visibility":10000,"wind_speed":7.29,"wind_deg":139,"wind_gust":24.[...]
