---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=app_id&exclude=minutely&lat=37.54129&lon=-77.434769&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5413,"lon":-77.4348,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1661970818,"sunrise":1661942362,"sunset":1661989271,"temp":86.47,"feels_like":86.68,"pressure":1014,"humidity":43,"dew_point":61.34,"uvi":6.1,"clouds":75,"visibility":10000,"wind_speed":10.36,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1661968800,"temp":86.85,"feels_like":86.45,"pressure":1014,"humidity":40,"dew_point":59.63,"uvi":7.56,"clouds":60,"visibility":10000,"wind_speed":5.79,"wind_deg":296,"wind_gust":7.9,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1661972400,"temp":86.47,"feels_like":86.68,"pressure":1014,"humidity":43,"dew_point":61.34,"uvi":6.1,"clouds":75,"visibility":10000,"wind_speed":6.46,"wind_deg":290,"wind_gust":8.57,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1661976000,"temp":87.08,"feels_like":86.74,"pressure":1014,"humidity":40,"dew_point":59.85,"uvi":4.05,"clouds":60,"visibility":10000,"wind_speed":6.78,"wind_deg":285,"wind_gust":9.06,"weather":[{"id":803,[...]
