---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=key&location=richmond
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 14 Jun 2022 16:27:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"richmond"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Richmond","adminArea5Type":"City","adminArea4":"Richmond
        City","adminArea4Type":"County","adminArea3":"VA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039420","unknownInput":"","type":"s","latLng":{"lat":37.540759,"lng":-77.433932},"displayLatLng":{"lat":37.540759,"lng":-77.433932},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=key&type=map&size=225,160&locations=37.540759,-77.433932|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2116208620"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Richmond","adminArea5Type":"City","adminArea4":"Contra
        Costa County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY",[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=app_id&exclude=minutely&lat=37.540759&lon=-77.433932&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5408,"lon":-77.4339,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655224012,"sunrise":1655200082,"sunset":1655253128,"temp":84.33,"feels_like":91.18,"pressure":1014,"humidity":70,"dew_point":73.47,"uvi":7.62,"clouds":75,"visibility":10000,"wind_speed":16.11,"wind_deg":290,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.17}},"hourly":[{"dt":1655222400,"temp":84.33,"feels_like":91.18,"pressure":1014,"humidity":70,"dew_point":73.47,"uvi":7.62,"clouds":75,"visibility":10000,"wind_speed":7.11,"wind_deg":287,"wind_gust":13.89,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1655226000,"temp":84.79,"feels_like":91.17,"pressure":1014,"humidity":67,"dew_point":72.61,"uvi":8.33,"clouds":79,"visibility":10000,"wind_speed":3.4,"wind_deg":278,"wind_gust":9.42,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.02},{"dt":1655229600,"temp":87.21,"feels_like":93.49,"pressure":1013,"humidity":60,"dew_point":71.64,"uvi":7.96,"clouds":83,"visibility":10000,"wind_speed":5.88,"wind_deg":321,"wind_gust":15.41,"weather":[{"id":[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_city=richmond
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24120add279381eea4e14f71f32e2d16"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"origin-brewer-richmond","name":"Origin Brewer","brewery_type":"micro","street":null,"address_2":null,"address_3":null,"city":"Richmond","state":"California","county_province":null,"postal_code":"94805-2121","country":"United
        States","longitude":"-122.3477486","latitude":"37.9357576","phone":null,"website_url":null,"updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"ardent-craft-ales-richmond","name":"Ardent
        Craft Ales","brewery_type":"micro","street":"3200 W Leigh St","address_2":null,"address_3":null,"city":"Richmond","state":"Virginia","county_province":null,"postal_code":"23230-4410","country":"United
        States","longitude":"-77.47201237","latitude":"37.5684425","phone":"8043591605","website_url":"http://www.ardentcraftales.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z[...]
