---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_city=richmond
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24120add279381eea4e14f71f32e2d16"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"origin-brewer-richmond","name":"Origin Brewer","brewery_type":"micro","street":null,"address_2":null,"address_3":null,"city":"Richmond","state":"California","county_province":null,"postal_code":"94805-2121","country":"United
        States","longitude":"-122.3477486","latitude":"37.9357576","phone":null,"website_url":null,"updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"ardent-craft-ales-richmond","name":"Ardent
        Craft Ales","brewery_type":"micro","street":"3200 W Leigh St","address_2":null,"address_3":null,"city":"Richmond","state":"Virginia","county_province":null,"postal_code":"23230-4410","country":"United
        States","longitude":"-77.47201237","latitude":"37.5684425","phone":"8043591605","website_url":"http://www.ardentcraftales.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z[...]
