---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=client_id&page=1&per_page=1&query=Washington,DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=client_id&page=6698&per_page=1&query=Washington%2CDC>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=client_id&page=2&per_page=1&query=Washington%2CDC>;
        rel="next"
      X-Total:
      - '6698'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"528b00e470261b16a25e147a8ad37634"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":6698,"total_pages":6698,"results":[{"id":"v_e3Hha4EBA","created_at":"2018-11-10T12:58:39-05:00","updated_at":"2022-06-13T06:05:14-04:00","promoted_at":null,"width":3934,"height":2832,"color":"#0c2626","blur_hash":"LVF#m$t6WB%1~URkIpxZodRkRjNH","description":"Feb.
        17, 2010, U.S. President Barack Obama, accompanied by members of Congress
        and middle school children, waves as he talks on the phone from the Roosevelt
        Room of the White House to astronauts on the International Space Station.","alt_description":"Barack
        Obama","urls":{"raw":"https://images.unsplash.com/photo-1541872703-74c5e44368f9?ixid=MnwzMzczMDV8MHwxfHNlYXJjaHwxfHxXYXNoaW5ndG9uJTJDREN8ZW58MHx8fHwxNjU1MTQwMTY1\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1541872703-74c5e44368f9?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzMzczMDV8MHwxfHNlYXJjaHwxfHxXYXNoaW5ndG9uJTJDREN8ZW58MHx8fHwxNjU1MTQwMTY1\u0026ixlib=rb-1.2.1\u0026q=80","regular":"https://images.unsplash.com/photo-1541872703-74c5e44368f9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzczMDV8MHwxfHNlYXJjaHwxfHxXYXNoaW5ndG9uJTJDREN8ZW58MHx8fHwxNjU1MTQwMTY1\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1541872703-74c5e44368f9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzczMDV8MHwxfHNlYXJjaHwxfHxXYXNoaW5ndG9uJTJDREN8ZW58MHx8fHwxNjU1MTQwMTY1\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1541872703-74c5e44368f9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzczMDV8MHwxfHNlYXJjaHwxfHxXYXNoaW5ndG9uJTJDREN8ZW58MHx8fHwxNjU1MTQwMTY1\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1541872703-74c5e44368f9"},"links":{"self":"https://api.unsplash.com/photos/v_e3Hha4EBA","html":"https://unsplash.com/photos/v_e3Hha4EBA","download":"https://unsplash.com/photos/v_e3Hha4EBA/download?ixid=MnwzMzczMDV8MHwxfHNlYXJjaHwxfHxXYXNoaW5ndG9uJTJDREN8ZW58MHx8fHwxNjU1MTQwMTY1","download_location":"https://api.unsplash.com/photos/v_e3Hha4EBA/download?ixid=MnwzMzczMDV8MHwxfHNlYXJjaHwxfHxXYXNoaW5ndG9uJTJDREN8ZW58MHx8fHwxNjU1MTQwMTY1"},"categories":[],"likes":324,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"history":{"status":"approved","approved_on":"2020-06-16T09:06:53-04:00"}},"user":{"id":"XOV3VL2RAKk","updated_at":"2022-06-12T14:33:31-04:00","username":"historyhd","name":"History
        in HD","first_name":"History in HD","last_name":null,"twitter_username":null,"portfolio_url":null,"bio":"Important
        people and events from history updated for the 21st-century using the latest
        in recolourization and upscaling artificial intelligence techniques. ","location":"Earth","links":{"self":"https://api.unsplash.com/users/historyhd","html":"https://unsplash.com/@historyhd","photos":"https://api.unsplash.com/users/historyhd/photos","likes":"https://api.unsplash.com/users/historyhd/likes","portfolio":"https://api.unsplash.com/users/historyhd/portfolio","following":"https://api.unsplash.com/users/historyhd/following","followers":"https://api.unsplash.com/users/historyhd/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1541725625858-8b45e61d2ada?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1541725625858-8b45e61d2ada?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1541725625858-8b45e61d2ada?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":null,"total_collections":0,"total_likes":0,"total_photos":17,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"barack
        obama"},{"type":"search","title":"washington dc"},{"type":"search","title":"president
        of the united states of america"}]}]}'
  recorded_at: Mon, 13 Jun 2022 17:10:46 GMT
recorded_with: VCR 6.1.0
